body h1 h2 h3 p li {
  margin: 0;
  padding: 0;
}

#container {
  margin: 10px 10%;
  padding: 10px 10%;
  border: 2px black solid;
  border-radius: 20px;
}

#content {
  margin: 0 auto;

}

#feedback-area {
  height: 2em;
  padding: 0.5em;
}


#employee-table {
  display: table;
}

#table-caption {
  display: table-caption;
  font-size: 26px;
  font-weight: bold;
}

#table-header {
  display: table-header-group;
  font-weight: bold;
  background-color: #a5a5a5;
}

.table-header-cell {
  display: table-cell;
  width: 120px;
  padding: 10px;
  text-align: justify;
  border-bottom: 1px solid #464646;
}

#table-body {
  display: table-row-group;
}

.table-row {
  display: table-row;
}

.table-row:nth-of-type(even) {
  background-color: lightgrey;
}

.table-row-cell {
  padding: 10px;
  display: table-cell;
}

.salary-cell {
  text-align: right;
  width: 120px;
}

.delete-cell {
  text-align: center;
  width: 90px;
}

#table-footer {
  display: table-footer-group;
}

.table-footer-cell {
  padding: 10px;
  border-top: 5px solid #464646;
  display: table-cell;
}

#salary-label {
  text-align: right;
}

#total-salaries {
  height: 20px;
  font-size: 22px;
  text-align: right;
}