* {
  font-family: 'Libre Franklin', Arial, Helvetica, sans-serif;
}

body, h1, h2, h3, p, li {
  margin: 0;
  padding: 0;
}

body {
  background-color: #EDEDE9;
}

footer {
  height: 50px;
}

#container {
  margin: 10px 10%;
  border: 2px black solid;
  border-radius: 20px;
  background-color: #F5EBE0;
  filter: drop-shadow(5px 5px 5px rgba(0, 0, 0, 0.3))
}

h1 {
  text-align: center;
}

#content {
  padding: 2em 4em;
}

.subheading {
  text-align: center;
  padding: 1em;
}

button {
  background-color: #E3D5CA;
  border: 1px solid #464646;
  filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.3))
}

button:active {
  background-color: #464646;
  color: white;
}

#add-employee-form button {
  display: block;
  margin: 0 auto;
  width: 200px;
  height: 2em;
}

#add-employee-form input {
  display: block;
  width: 200px;
  height: 1.5em;
  margin: 0 auto;
  margin-bottom: 0.5em;
  padding-left: 5px;
}

#feedback-area {
  height: 1em;
  padding: 1em;
  margin: 0 auto;
  text-align: center;
  line-height: 1;
  color:rgb(199, 0, 0);
  font-weight: bold;
}

#employee-display {
  overflow-x: scroll;
}

#employee-table {
  display: table;
  margin: 0 auto;
}

#table-caption {
  display: table-caption;
  font-size: 22px;
  font-weight: bold;
  padding: 0.5em 0 0.5em 10px;
}

#table-header {
  display: table-header-group;
  font-weight: bold;
  background-color: #D5BDAF;
}

.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.table-header-cell {
  display: table-cell;
  width: 120px;
  min-width: 80px !important;
  padding: 10px;
  text-align: justify;
  border-bottom: 1px solid #464646;
}

#table-body {
  display: table-row-group;
}

.table-row {
  display: table-row;
}

.table-row:nth-of-type(even) {
  background-color: #D5BDAF66;
}

.table-row-cell {
  padding: 10px;
  display: table-cell;
  vertical-align: middle;
  border-right: 1px solid #46464655;
}

.employee-id-cell {
  width: 60px;
}

.job-title-cell {
  width: 140px;
}

.salary-cell {
  text-align: right;
}

.delete-cell {
  text-align: center;
  width: 90px;
  border-right: none;
}

#table-footer {
  display: table-footer-group;
}

.table-footer-cell {
  border-top: 5px solid #464646;
  display: table-cell;
  padding: 10px;
  vertical-align: middle;
}

#salary-label {
  display: table-cell;
  text-align: right;
}

#total-salaries {
  height: 20px;
  text-align: right;
}

.red-background {
  background-color: rgb(199, 0, 0);
  color: white;
}

#monthly-cost {
  font-size: 22px;
}

.whitespace {
  height: 50px;
}